hr {
    width: 100%;
}

h2 {
    text-align: center;
}

.cart-head {
    font-size: 26px;
    text-align: center;
    font-weight: 500;
}

.cart-div h3 {
    font-size: 24px;
    margin-left: 8%;
    font-weight: 400 !important;
}

.small-container {
    display: grid;
    grid-template-columns: 1fr 10fr;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 10px 0;
    margin: 5px auto;
}

.mini-img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-top: 10px;
    margin-left: 15px;
}

.newTeacher {
    font-size: 20px !important;
    color: green;

}

.new {
    color: black;
    padding-top: 50px;
}