.main-container {
    margin: 0 5%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.teachers-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
}

.cart-container {
    margin-top: 50px !important;
    background-color: green;
    height: 180px;
    margin: 0 20px;
    color: #fff;
    border-radius: 15px;
    box-shadow: 1px 1px 20px rgb(73, 72, 72);
}